{% extends 'main.html' %}
     
{% block content%}
        {% comment %} {% if request.user.is_authenticated %} {% endcomment %}
        <style>
            .task_container {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        </style>
    
    <body>
        <div>Hello {{request.user.email}}</div>
        <a href='{% url 'logout' %}'>Logout</a>
        <h1>Todo list</h1> 

        <div>
            {% for task in tasks %}
                <div class='task_container'>
                    <div><a href='{% url 'edit-task' task.id %}'>{{task}}</a></div>
                    <a href={% url 'delete-task' task.id %}>Delete</a>
                </div>
                <hr>
            {% endfor %}
        </div>

        <form method='POST' action=''>
            {% csrf_token %}
            {{form}}
        </form>
    </body>
    {% comment %} {% else %}
        {% include 'base/login.html' %}    
    {% endif %} {% endcomment %}

{% endblock content %}