{% extends 'main.html' %}
     
{% block content%}
        {% comment %} {% if request.user.is_authenticated %} {% endcomment %}
        <style>
            .row_container {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        </style>
    
    <body>
        <div>Hello {{request.user.email}}</div>
        <a href='{% url 'logout' %}'>Logout</a>
        <h1>Todo list</h1> 

        <div>
        <a href='{% url 'add-task' %}'>Add task</a>
        </div>

        <div>
            <a href='{% url 'home' %}' style='margin-right: 24px;'>All Tasks</a>
            <a href='{% url 'filter-task' 'completed' %}' style='margin-right: 24px;'>Completed Tasks</a>
            <a href='{% url 'filter-task' 'todo' %}'>Todo Tasks</a>
        </div>
        <h2> {{page_title}} </h2>
        <div>
            {% for task in tasks %}
                {% if task.completed %}
                    <div class=''>
                        <div class='row_container'>
                            <div>
                                <a href='{% url 'toggle-task' task.id %}?page={{page_title}}'>
                                    <i class="fa fa-check-circle" aria-hidden='true'></i>
                                </a>
                                <a href='{% url 'add-task' task.id %}'>{{task.title}}</a>
                            </div>
                            <a href='{% url 'delete-task' task.id %}?page={{page_title}}'>Delete</a>
                        </div>
                        <div>
                            {{task.description|truncatewords:10}}
                        </div>
                    </div>
                {% else %}
                    <div class=''>
                        <div class='row_container'>
                        <div>
                            <a href='{% url 'toggle-task' task.id %}?page={{page_title}}'><i class="fa fa-check-circle-o" aria-hidden='true'></i></a>
                            <a href='{% url 'add-task' task.id %}'>{{task.title}}</a>
                        </div>
                        <a href='{% url 'delete-task' task.id %}?page={{page_title}}'>Delete</a>
                        </div>
                        <div>
                            {{task.description|truncatewords:10}}
                        </div>
                    </div>
                {% endif %}
                <hr>
            {% endfor %}
        </div>

    </body>
    {% comment %} {% else %}
        {% include 'base/login.html' %}    
    {% endif %} {% endcomment %}

{% endblock content %}