<div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <h1>Login</h1>
    <form method='POST' action=''>
        {% csrf_token %}
        <div>Email</div>
        <input id='email' name='email' type='email' placeholder='e.g. nien@gmail.com' />
        <div>Password</div>
        <input id='password' name='password' type='password' />
        <div><input type='submit' value='Login' /></div>
    </form>
</div>
