{% for task in tasks %}
  <!-- Task card -->
    <div
    class="w-[355px] flex flex-col shadow-md bg-white h-[120px] rounded-xl p-3"
    >
    <!-- Top -->
    <div class="flex flex-row justify-between">
        <!-- Left: Title and Description -->
        <div>
        <a href="{% url 'add-task' task.id %}">
            <h1 class="text-green-500 font-semibold text-xl">
            {% if task.title|length > 15 %}
            {{task.title|slice:":15"}}...
            {% else %}
            {{task.title}}
            {% endif %}
            </h1>
        </a>
        <p class="text-gray-500 text-md">
            {{task.description|slice:":20"}}...
        </p>
        </div>
        <!-- Right: Toggle complete mode -->
        <a href="{% url 'toggle-task' task.id %}?page={{current_page}}">
        {% if not task.completed %}
            <i class="bx bx-check-circle bx-sm text-blue-500"></i>
        {% else %}
            <i class='bx bxs-check-circle bx-sm text-blue-500'></i> 
        {% endif %}
        </a>
    </div>
    <!-- Line -->
    <hr class="border-t border-gray-200 my-2" />
    <!-- Bottom: Time and Date | Delete -->
    <div class="flex flex-row justify-between">
        <h2 class="text-gray-500 font-bold">
        Due {{task.due_date}} <span class="font-medium text-gray-400">{{task.due_time}}</span>
        </h2>
        <a href="{% url 'delete-task' task.id %}?page={{current_page}}">
        <i class="bx bxs-trash bx-sm text-red-500"></i>
        </a>
    </div>
    </div>
{% endfor %}